
* {
    margin: 0;
    padding: 0;
}

html {
    
}

body {
    width:90%;
    margin: 0 auto;
    background-color: rgba(0,100,230,0.5);
    background-size : cover;
}

header {
    
}

footer {
    
}

footer {
    margin: 0;
    padding-top: 5%;
    background-color: rgba(24, 3, 148, 0.9);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.4) inset;
}

article {
    padding-left:10px;
}
main {
    background-color: white;
    width: 100%;
    margin: 0 auto;

    border-radius: 10px;		/* CSS3草案 */
    -webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
    -moz-border-radius: 10px;	/* Firefox用 */
}

/* menu list */

nav {
    margin : 50px auto;
    width  : 100%;
}

menu {
    border-radius : 3px;
}

menu:after , menu:before {
    display : block;
    content : ' ';
}

menu:after {
    clear : both;
}

li {
    list-style-type : none;
    background      : linear-gradient(rgba(220,220,255,0.4) 85%, rgba(255,255,255,0.5) 100%);
    
    float   : left;
    cursor  : pointer;
    padding : 3px 10px;
    border-top    : 2px solid rgba(200,200,255,0.5);
    border-bottom : 2px solid rgba(50,50,50,0.4);
}

li:first-child {
    border-radius : 5px 0 0 5px;
}

li:last-child {
    border-radius : 0 5px 5px 0;
}


/* 大見出し */
h1 {
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 3px black;
    padding-top:10px;
    padding-left:10px;
}
h1:hover{
    background-color: rgba(255,200,200,0.1);
}
/* 中見出し */
h2 {
    padding: 0.5em 0;/*上下の余白*/
    padding-left:10px;
    color: #364e96;/*文字色*/
    border-bottom: solid 3px #364e96;/*下線*/
}
h2:hover{
    background-color: rgba(200,200,255,0.1);
}
/* 小見出し */
h3 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    margin-top:10px;
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 2px white;/*下線*/
}
h3:hover{
    border-bottom: solid 2px rgba(200,200,255,0.4);/*下線*/
}

a {
    text-decoration: none;
}

a.mainMenu {
    display : block;
    padding : 10px 13px;
    font-size : 26px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : #FFF;
    transition : all .4s;
}

li.mainMenuList:hover a.mainMenu {
    top   : -20px;
    color : #4eacff;
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

li.mainMenu a:after {
    display  : block;
    content  : '';
    position : absolute;
    top  : 100%;
    left : 42%;
    border-style : solid;
    border-color : transparent;
    border-width : 5px 5px 0 5px;
    transition   : all .4s;
}

li.mainMenuList:hover a.mainMenuList:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

/*************************************/

.mainMenu {
    width : 100%;
}

a.mainMenu {
    font-family : georgia;
    font-size   : 14px;
    font-style  : italic;
    text-transform : capitalize;
}

li.mainMenu {
    border-right  : 1px solid rgba(200,200,255,0.5);
    border-left   : 1px solid rgba(40,40,40,0.2);
}

.selected.mainMenu {
    top   : -20px;
    color : rgba(200,0,0,0.5);
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

.selected.mainMenu:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

/* footer-main-contents */
#footer-main-contents {
    width: 100%;
    height:auto;
    background-color: rgba(255,100,100,0.5);
    clear: both;
    display: flex; /* 高さを合わせる */
    display: -webkit-box; /*Android4.3*/
    display: -moz-box;    /*Firefox21*/
    display: -ms-flexbox; /*IE10*/
    display: -webkit-flex; /*PC-Safari,iOS8.4*/
}
#footer-main-contents h3 {
    padding-top:10px;
    padding-bottom:10px;
}

/* footer-magazine */
#footer-magazine {
    width: 50%;
    /* background-color: rgba(255,100,100,0.5); */
    float:left;
}
#footer-magazine ul {

}
#footer-magazine ul li {
    float:none;
}

/* footer-category */
#footer-category {
    width: 20%;
    /* background-color: rgba(255,255,100,0.5); */
    float:left;
}
#footer-category ul {

}
#footer-category ul li {
    float:none;
}

/* footer-other */
#footer-other {
    width: 30%;
    /* background-color: rgba(255,255,255,0.5); */
    float:left;
}

/* footer-other [0] */
/* footer-about */
#footer-about {
    width: 100%;
/* background-color: rgba(0,0,0,0.5); */
    float:none;
}
#footer-about ul {

}
#footer-about ul li {
    float:none;
}

/* footer-other [1] */
/* footer-link */
#footer-link {
    width: 100%;
    /* background-color: rgba(255,100,255,0.5); */
    float:none;
}
#footer-link ul {
}
#footer-link ul li {
    float:none;
}

/* footer-other [2] */
/* footer-share */
#footer-share {
    width: 100%;
    /* background-color: rgba(100,255,255,0.5); */
    float:none;
}
#footer-share ul {

}
#footer-share ul li {
    float:none;
}

#footer-message-contents {
    width: 100%;
    background-color: rgba(255,100,100,0.5);
    clear: both;
    display: flex; /* 高さを合わせる */
    display: -webkit-box; /*Android4.3*/
    display: -moz-box;    /*Firefox21*/
    display: -ms-flexbox; /*IE10*/
    display: -webkit-flex; /*PC-Safari,iOS8.4*/
}

/* footer-message */
#footer-message {
    font-size:1.0vw;
    width: 50%;
    background-color: rgba(255,0,0,0.5);
    float:left;
}

/* footer-member-join */
#footer-member-join {
    width: 20%;
    background-color: rgba(0,255,00,0.5);
    float:left;
}

/* footer-copyright */
#footer-copyright {
    font-size:1.0vw;
    width: 30%;
    background-color: rgba(0,0,255,0.5);
    float:left;
}

@media (max-width: 800px) {
    body {
        width:100%;
    }
    #footer-magazine {
        width: 100%;
        float:none;
        clear:both;
    }
    #footer-category {
        width: 100%;
        float:none;
        clear:both;
    }
    #footer-other {
        width: 100%;
        float:none;
        clear:both;
    }
    #footer-about {
        width: 100%;
        float:none;
        clear:both;
    }
    #footer-link {
        width: 100%;
        float:none;
        clear:both;
    }
    #footer-message {
        width: 100%;
        float:none;
        clear:both;
    }
    #footer-member-join {
        width: 100%;
        float:none;
        clear:both;
    }
    #footer-copyright {
        width: 100%;
        float:none;
        clear:both;
    }
}
